.Character-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #282c34;
    border-radius: 30px;
}

.Character-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;
}

.Character-image {
    height: 300px;
    width: 180px;
}
