.Character-container {
    justify-content: space-between;
    background-color: #282c34;
    border-radius: 10px;
}

.Character-description {
    padding: 8px;
}

.Character-image {
    height: 56px;
    width: 48px;
}
